./.git/hooks/pre-rebase.sample
./.git/hooks/commit-msg.sample
./.git/hooks/pre-applypatch.sample
./.git/hooks/post-receive.sample
./.git/hooks/update.sample
./.git/hooks/pre-commit.sample
./.git/hooks/post-update.sample
./.git/hooks/post-commit.sample
./.git/hooks/applypatch-msg.sample
./.git/hooks/prepare-commit-msg.sample
./magpierss/scripts/magpie_debug.php
./magpierss/scripts/simple_smarty.php
./magpierss/scripts/magpie_slashbox.php
./magpierss/scripts/magpie_simple.php
./270/doxygen/installdox
./270/social/a.out
./270/social/checksession.cgi
./270/social/logout.cgi
./270/social/login.cgi
./270/social/home.cgi
./270/XOR_encryption.cgi
./310/boolean/boolean.cgi
./310/bfslist/list_graphs.cgi
./310/bfslist/save_graph.cgi
./310/bfslist/dot.cgi
./310/bfslist/load_graph.cgi
./310/bfslist/graph.cgi
./310/bfslist/webdot.cgi
./310/bfs/list_graphs.cgi
./310/bfs/save_graph.cgi
./310/bfs/dot.cgi
./310/bfs/load_graph.cgi
./310/bfs/graph.cgi
./310/bfs/webdot.cgi
./S2.P.1/S2.P.1.cgi
./CSCI-170/fp/a.out
./CSCI-170/fp/checksession.cgi
./CSCI-170/fp/logout.cgi
./CSCI-170/fp/login.cgi
./CSCI-170/fp/home.cgi
./CSCI-170/src/test.cgi~
./CSCI-170/src/index.cgi~
./CSCI-170/src/index.cgi
./CSCI-170/checksession.cgi
./CSCI-170/logout.cgi
./CSCI-170/cgi-bin/S7.E1.1.cgi
./CSCI-170/cgi-bin/S5.E1.3.cgi
./CSCI-170/cgi-bin/oddeven.cgi
./CSCI-170/cgi-bin/S5.E1.1.cgi
./CSCI-170/cgi-bin/S8.E1.1.cgi
./CSCI-170/cgi-bin/S7.E1.2-read.cgi
./CSCI-170/cgi-bin/hello.cgi
./CSCI-170/cgi-bin/S5.E1.2.cgi
./CSCI-170/cgi-bin/S11.P1.cgi
./CSCI-170/cgi-bin/environ.cgi
./CSCI-170/cgi-bin/S10.P1.cgi
./CSCI-170/cgi-bin/S9.E1.1.cgi
./CSCI-170/cgi-bin/diamond.cgi
./CSCI-170/cgi-bin/index.cgi~
./CSCI-170/cgi-bin/S7.E1.2-write.cgi
./CSCI-170/cgi-bin/S12.P1.cgi
./CSCI-170/cgi-bin/index.cgi
./CSCI-170/cgi-bin/ctemplate.cgi
./CSCI-170/cgi-bin/session.cgi
./CSCI-170/cgi-bin/php/facebookapi_php5_restlib.php
./CSCI-170/login.cgi
./CSCI-170/home.cgi
./S3.E1.1/s3.e1.1.cgi
./code.py
./S4.E1.1/s4.e1.1.cgi
./S1.E1.1/s1.e1.1.cgi
./sudoku/sudoku.cgi
./sudoku/sudoku-hybrid.cgi
./sudoku/dlx.cgi
./sudoku/sudoku-dlx.cgi
./S2.E1.1/s2.e1.1.cgi
./cgi-bin/S7.E1.1.cgi
./cgi-bin/viewvc.cgi
./cgi-bin/S5.E1.1.cgi
./cgi-bin/S8.E1.1.cgi
./cgi-bin/S7.E1.2-read.cgi
./cgi-bin/viewvc-1.0.12/lib/compat_difflib.py
./cgi-bin/viewvc-1.0.12/lib/py2html.py
./cgi-bin/viewvc-1.0.12/bin/svndbadmin
./cgi-bin/viewvc-1.0.12/bin/cvsdbadmin
./cgi-bin/viewvc-1.0.12/bin/standalone.py
./cgi-bin/viewvc-1.0.12/bin/loginfo-handler
./cgi-bin/viewvc-1.0.12/bin/make-database
./cgi-bin/viewvc-1.0.12/viewvc-install
./cgi-bin/S11.P1.cgi
./cgi-bin/S10.P1.cgi
./cgi-bin/viewvc.cgi~
./cgi-bin/S7.E1.2-write.cgi
./cgi-bin/S12.P1.cgi
./cgi-bin/test.php
./cgi-bin/printenv.cgi
./cgi-bin/test.php~
./330/micro/330-p5.cgi
./prs/prs.cgi
./gitweb/stock-index.cgi
./gitweb/index.cgi
./330-S3.P/s3.p.cgi
./no-end.cgi
